<div class="report-container">
    <h1><%= title %></h1>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <%  }) %>
        </ul>
    <% } %>
    <h1>Inventory Report</h1>
    <table>
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <% let totalPrice = 0; %>
        <% items.forEach(item => { %>
            <tr>
                <td><%= item.inv_make %></td>
                <td><%= item.inv_model %></td>
                <td>$<%= parseInt(item.inv_price).toFixed(2) %></td>
                <% totalPrice += parseInt(item.inv_price) %>
            </tr>
        <% }) %>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="total">Total Price</td>
            <td class="total">$<%= totalPrice.toFixed(2) %></td>
        </tr>
        </tfoot>
    </table>
</div>